@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Noto+Sans+Symbols+2&family=Tiny5&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#chat{
    position: relative;
    width: 45%;
    background-color: #262626;
    box-shadow: 0px 0px 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;   
}

.header{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 15px 22px;
    justify-content: space-between;
}
.header img{
    border: 2px solid black;
    border-radius: 50%;
    width: 20%;
    padding: 5px;
}

#chatbody{
    margin-bottom: 50px;
    padding: 25px 22px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#chatbody .text{
    display: flex;
    gap:11px;
}

.messageuser{
    background-color: black;
    color: white;
    border-radius: 32px;
    flex-direction: column;
    align-items: flex-end;
}

.messagebot{
    background-color: white;
    border-radius: 32px;
    color: black;
}

#chatbody .text .messagetext{
    padding: 10px 10px;
    max-width: 85%;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 1.15rem;
}

form{
    bottom: 0; 
    width: 100%;
    padding: 15px 22px;
}

input{
    outline: none;
    border: none;
    border-radius: 32px;
    width: 100%;
    font-size: .95rem;
    padding: 14px 0 13px 18px;
}