{% extends 'base.html' %}

{% block head %}
<title>Challenger Furia</title>
{% endblock %}

{% block body %}
<section id="chat">
    <div class="header">
        <img src="/static/img/Furia_Esports_logo.png" alt="">
        <h1>Challenger 1 - ChatBot</h1>
    </div>

    <div id="chatbody">
        <div class="text messagebot">
            <div class="messagetext"><p>{{bot}}</p></div>
        </div>
        <div class="text messageuser">
            <div class="messagetext"><p>{{ mensagem }}</p></div>
        </div>
    </div>

    <form id="mensagem-form">
        <input type="text" id="entry" name="entry" placeholder="Digite uma mensagem..." required>
    </form>
</section>

<script>
    const chatbody = document.getElementById('chatbody');
    document.getElementById('mensagem-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const entryInput = document.getElementById('entry');
        const mensagem = entryInput.value.trim();
        if (mensagem !== '') {
            fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({ entry: mensagem })
            })
            .then(() => {
                const userMessageDiv = document.createElement('div');
                userMessageDiv.className = 'text messageuser';
                userMessageDiv.innerHTML = `<div class="messagetext"><p>${mensagem}</p></div>`;
                chatbody.appendChild(userMessageDiv);
                })
            fetch('/get_response',{
                method: "POST",
                headers:{
                    'Content-Type':'application/json'
                },
                body: JSON.stringify({response:mensagem})
            })
            .then(response => response.json())
            .then(data=>{
                const userMessageDiv = document.createElement('div');
                userMessageDiv.className = 'text messagebot';
                userMessageDiv.innerHTML = `<div class="messagetext"><p>${data.response}</p></div>`;
                chatbody.appendChild(userMessageDiv);
            })
            .catch(error =>{
                console.error("Erro:",error)
            });
            entryInput.value = ''
        }
    });
</script>
{% endblock %}